/* Noto Sans */
@font-face {
  font-family: "Noto Sans";
  src: url('../fonts/NotoSans/NotoSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url('../fonts/NotoSans/NotoSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url('../fonts/NotoSans/NotoSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url('../fonts/NotoSans/NotoSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
/* Noto Serif */
@font-face {
  font-family: "Noto Serif";
  src: url('../fonts/NotoSerif/NotoSerif-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url('../fonts/NotoSerif/NotoSerif-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Noto Serif";
  src: url('../fonts/NotoSerif/NotoSerif-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url('../fonts/NotoSerif/NotoSerif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
/* Noto Mono */
@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro/SourceCodePro-It.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro/SourceCodePro-Semibold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: url('../fonts/SourceCodePro/SourceCodePro-SemiboldIt.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Orbitron";
  src: url('../fonts/Orbitron/orbitron-medium-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}
/* style */
.top-navbar {
  font-family: "Orbitron", "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}
.post-title, .post-meta, .post-content {
  font-family: "Noto Sans", "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", sans-serif;
}
.post-content code {
  font-family: "Source Code Pro", "Noto Sans Mono CJK SC", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei Mono", monospace;
}
