---
layout: default
title: 活动
permalink: /event/
---

{% for event in site.categories['event'] limit:5 %}
  <article>
    <div class="event-title">
      <h1><a href="{{ event.url | relative_url }}">{{ event.title }}</a></h1>
    </div>
    <div class="event-meta text-info">
      <span class="event-date meta-span">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        {{ event.date | date_to_string }}
      </span>
      {% if event.time %}
        <span class="event-time meta-span">
          <span class="fa fa-clock-o" aria-hidden="true"></span>
          {{ event.time }}
        </span>
      {% endif %}
      <span class="event-location meta-span">
        <span class="fa fa-map-marker" aria-hidden="true"></span>
        {{ event.location }}
      </span>
    </div>
    <div class="event-content">
      {{ event.content }}
    </div>
  </article>
{% endfor %}
