---
layout: default
title: 活动
permalink: /event/
---

<div class="row">
  <div class="col-12 col-md-9">
    {% for post in site.categories['event'] %}
    <article id="{{ post.url }}" class="card border-light">
      <div class="card-body">
        <div class="card-title">
          <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        </div>
        <div class="card-text">
          <div class="post-meta text-info">
            <span class="text-nowrap">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ post.date | date_to_string }}
            </span>
            {% if post.time %}
            <span class="text-nowrap">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ post.time }}
            </span>
            {% endif %}
            <span class="text-nowrap">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{ post.location }}
            </span>
          </div>
          <div class="post-content">
            {{ post.content }}
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="col-12 col-md-3">
    <div class="card border-light">
      <div class="card-body">
        <div class="card-title">
          <h2># 活动</h2>
        </div>
        <div class="card-text">
          <ul class="list-group">
            {% for post in site.categories['event'] %}
            <a href="{{ "#" | append: post.url }}" class="list-group-item list-group-item-action list-group-item-info text-center">{{ post.title }}</a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
