---
layout: default
title: 活动
permalink: /event/
---

<div class="row">
  <div class="col-12 col-md-9">
    {% for event in site.categories['event'] %}
      <article id="{{ event.url }}">
        <div class="event-title">
          <h1><a href="{{ event.url | relative_url }}">{{ event.title }}</a></h1>
        </div>
        <div class="event-meta text-info">
          <span class="event-date meta-span">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ event.date | date_to_string }}
          </span>
          {% if event.time %}
            <span class="event-time meta-span">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ event.time }}
            </span>
          {% endif %}
          <span class="event-location meta-span">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ event.location }}
          </span>
        </div>
        <div class="event-content">
          {{ event.content }}
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="col-12 col-md-3 side-menu">
    <ul class="list-unstyled">
      {% for event in site.categories['event'] %}
        <li><a href="{{ "#" | append: event.url }}">{{ event.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
