---
layout: default
---
<div class="card border-light service">
  <div class="card-body">
    <div class="card-title">
      <h2 class="section-title"># 线上服务</h2>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/server.svg" | relative_url }}" alt="Mirrors">
          <h4>开源镜像 <a href="https://mirrors.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>多快好省</h6>
        </div>
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/forum.svg" | relative_url }}" alt="Forum">
          <h4>论坛 <a href="https://bbs.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>参与讨论</h6>
        </div>
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/wiki.svg" | relative_url }}" alt="Wiki">
          <h4>Wiki <a href="https://wiki.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>积累的力量</h6>
        </div>
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/git.svg" | relative_url }}" alt="Git">
          <h4>代码托管 <a href="https://git.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>源力与你同在</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/mail.svg" | relative_url }}" alt="Mailing List">
          <h4>邮件列表 <a href="https://groups.google.com/forum/#!forum/xidian_linux"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>关注最新动态</h6>
        </div>
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/telegram.svg" | relative_url }}" alt="News">
          <h4>Telegram <a href="https://t.me/xdosc"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>实时聊天</h6>
        </div>
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/issues.svg" | relative_url }}" alt="Issue">
          <h4>Issues <a href="https://git.xdlinux.info/xdlinux/issues"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>Bug 提交 / 意见反馈</h6>
        </div>
        <div class="col-md-3 col-6 text-center">
          <img class="rounded-circle" src="{{ "/img/rocket.svg" | relative_url }}" alt="Join">
          <h4>纳新报名 <a href="#"><i class="fa fa-hand-o-right"></i></a></h4>
          <h6>加入我们</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="news">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-light">
        <div class="card-body">
          <div class="card-title">
            <h2 class="section-title"># 活动记录</h2>
          </div>
          <div class="card-text">
            <ul class="list-group">
              {% for post in site.categories['event'] limit:5 %}
              <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action flex-column align-items-start text-center">
                <h4 class="mb-1">{{ post.title }}</h4>
                <small class="post-meta">
                  <span class="text-nowrap"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ post.location }}</span>
                  <span class="text-nowrap"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}</span>
                  {% if post.time %}
                  <span class="text-nowrap"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.time }}</span>
                  {% endif %}
                </small>
              </a>
              {% endfor %}
            </ul>
            <h6><a href="{{ "/event" | relative_url }}" class="card-link"><i class="fa fa-hand-o-right"></i> 更多活动</a></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-light">
        <div class="card-body">
          <div class="card-title">
            <h2 class="section-title"># 最近文章</h2>
          </div>
          <div class="card-text">
            <ul class="list-group">
              {% for post in site.categories['blog'] limit:5 %}
              <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action flex-column align-items-start text-center">
                <h4 class="mb-1">{{ post.title }}</h4>
                <small class="post-meta">
                  <span class="text-nowrap"><i class="fa fa-pencil" aria-hidden="true"></i> {{ post.author }}</span>
                  <span class="text-nowrap"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}</span>
                </small>
              </a>
              {% endfor %}
            </ul>
            <h6><a href="{{ "/blog" | relative_url }}" class="card-link"><i class="fa fa-hand-o-right"></i> 更多文章</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
