---
layout: default
---

<div class="service">
  <h2 class="section-title"># 线上服务</h2>
  <div class="row">
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/server.svg" | relative_url }}" alt="Mirrors">
      <h3>开源镜像站 <a href="https://mirrors.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>多快好省</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/forum.svg" | relative_url }}" alt="Forum">
      <h3>论坛 <a href="https://bbs.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>参与讨论</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/wiki.svg" | relative_url }}" alt="Wiki">
      <h3>Wiki <a href="https://wiki.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>积累的力量</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/git.svg" | relative_url }}" alt="Git">
      <h3>代码托管 <a href="https://git.xdlinux.info"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>源力与你同在</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/mail.svg" | relative_url }}" alt="Mailing List">
      <h3>邮件列表 <a href="https://groups.google.com/forum/#!forum/xidian_linux"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>关注最新动态</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/telegram.svg" | relative_url }}" alt="News">
      <h3>Telegram <a href="https://t.me/xdosc"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>实时聊天</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/issues.svg" | relative_url }}" alt="Issue">
      <h3>Issues <a href="https://git.xdlinux.info/xdlinux/issues"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>Bug 提交 / 意见反馈</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="rounded-circle" src="{{ "/img/rocket.svg" | relative_url }}" alt="Join">
      <h3>纳新报名 <a href="#"><i class="fa fa-hand-o-right"></i></a></h3>
      <p>加入我们</p>
    </div>
  </div>
</div>
<div class="news">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="section-title"># 活动记录</h2>
      {% for post in site.categories['event'] limit:5 %}
        <div class="post">
          <div class="post-title">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          </div>
          <div class="post-meta text-info">
            <p>
              <span class="post-date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ post.date | date_to_string }}
              </span>
              {% if post.time %}
                <span class="post-time">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  {{ post.time }}
                </span>
              {% endif %}
              <span class="post-location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ post.location }}
              </span>
            </p>
          </div>
        </div>
      {% endfor %}
      <div class="post">
        <p><a href="{{ "/event" | relative_url }}"><i class="fa fa-hand-o-right"></i> 更多活动</a></p>
      </div>
    </div>
    <div class="col-sm-6">
      <h2 class="section-title"># 最近文章</h2>
      {% for post in site.categories['blog'] limit:5 %}
        <div class="post">
          <div class="post-title">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          </div>
          <div class="post-meta text-muted">
            <p>
              <span class="post-date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ post.date | date_to_string }}
              </span>
              <span class="post-author">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                {{ post.author }}
              </span>
            </p>
          </div>
        </div>
      {% endfor %}
      <div class="post">
        <p><a href="{{ "/blog" | relative_url }}"><i class="fa fa-hand-o-right"></i> 更多文章</a></p>
      </div>
    </div>
  </div>
</div>
