---
layout: default
title: Blog
permalink: /news/
---
<div class="row">
  <div class="col-12 col-md-9">
    {% for post in site.categories['news'] %}
    <article id="{{ post.url }}" class="card border-light">
      <div class="card-body">
        <div class="card-title">
          <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        </div>
        <div class="card-text">
          <div class="post-meta text-muted">
            <span class="text-nowrap">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              {{ post.author }}
            </span>
            <span class="text-nowrap">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ post.date | date_to_string }}
            </span>
          </div>
          <div class="post-content">
            {{ post.content }}
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="col-12 col-md-3">
    <div class="card border-light">
      <div class="card-body">
        <div class="card-title">
          <h2># 新闻</h2>
        </div>
        <div class="card-text">
          <ul class="list-group">
            {% for post in site.categories['news'] %}
            <a href="{{ "#" | append: post.url }}" class="list-group-item list-group-item-action list-group-item-info text-center">{{ post.title }}</a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
