<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a href="https://xdlinux.info">
    <div class="navbar-brand">
      <img src="/xdosc_small.png" height="36" />
      <span>西电开源社区</span>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://mirrors.xdlinux.info">Mirrors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://bbs.xdlinux.info">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://wiki.xdlinux.info">Wiki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://git.xdlinux.info">Git</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://status.xdlinux.info">Status</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="mailto:help@xdlinux.info">联系</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://git.xdlinux.info/xdlinux/issues">反馈</a>
      </li>
    </ul>
  </div>
</nav>
