<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark top-navbar">
  <a class="navbar-brand" href="{{ site.url }}">
    <img src="{{ "/img/xdosc.svg" | prepend: site.baseurl }}"/>
    西电开源社区
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/mirrors" | prepend: site.url }}">Mirrors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/forum" | prepend: site.url }}">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/wiki" | prepend: site.url }}">Wiki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/git" | prepend: site.url }}">Git</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/status" | prepend: site.url }}">Status</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="mailto:contact@xdlinux.info">联系</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/git/xdlinux/issues">反馈</a>
      </li>
    </ul>
  </div>
</nav>
