---
layout: default
---
<article class="card border-light">
  <div class="card-body">
    <div class="card-title post-title text-center">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="card-text">
      <div class="post-meta text-center text-muted">
        {% if page.location %}
        <span class="text-nowrap">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ page.location }}
        </span>
        {% endif %}
        {% if page.date %}
        <span class="text-nowrap">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{ page.date | date_to_string }}
        </span>
        {% endif %}
        {% if page.time %}
        <span class="text-nowrap">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ page.time }}
        </span>
        {% endif %}
        {% if page.author %}
        <span class="text-nowrap">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          {{ page.author }}
        </span>
        {% endif %}
      </div>
      <div class="post-content">
        {{ content }}
      </div>
    </div>
  </div>
</article>
